<h3>Add New Section</h3>

<form action="/sections" method="post">
  <label for="section_name">Name</label>
  <input id="section_name" name="name" type="text">
  <br>
  <button>Create Section</button>
</form>
