<h3>Add New Lesson</h3>

<% if @lesson.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/lessons" method="post">
  <label for="lesson_name">Name</label>
  <input id="lesson_name" name="name" type="text">

  <label for="lesson_number">Number</label>
  <input id="lesson_number" name="number" type="text">

  <label for="lesson_text">Lesson Text</label>
  <input id="lesson_text" name="text" type="text">

  <br>
  <label for="section">Section</label>

  <select name="section_id">
    <% Section.all.each do |section| %>
      <option value=<%= section.id %>><%= section.name %></option>
    <% end %>
  </select>

  <br>

  <button>Create Lesson</button>
</form>
